### working with pandas

In [1]:
__author__ = 'uak211'
import pandas as pd
import os
import requests
import zipfile
import io

Read what the PLUTO data is [here](https://www.wired.com/2013/08/nyc-pluto-data-map-party/)

Find the PLUTO dataset online, find the cvs file data (not the shape file), it should be about 46M

Download it as a zip file, unpack it in PUIDATAEach borough will be in a different file. The goal is to find land plot categories of which there is a higher number in Manhattan (MN) than in Brooklyn (BK)

Read in csv data as pandas dataframes (with pd.read_csv() )

In a Pandas DataFrame each column is a _series_ (a pandas datatype) to manipulate the data here you will mostly use methods (functions that are defined for a specific datatype and invoked with the _object.method()_ syntax) of the DataFrames (e.g. df.groupby() ) or of the series therein (e.g. series.astype() )

In [2]:
### uncomment to download zip files ###
# url = 'https://www1.nyc.gov/assets/planning/download/zip/data-maps/open-data/nyc_pluto_18v1.zip'
# r = requests.get(url)
# zip_ref = zipfile.ZipFile(io.BytesIO(r.content), 'r')
# zip_ref.extractall(os.getenv('PUIDATA'))
# zip_ref.close()

#### read in show the first 10 lines of each boro df

In [3]:
# show manhattan 10 rows
mn = pd.read_csv('{}/{}/{}_18v1.csv'.format(os.getenv('PUIDATA'), 'PLUTO_for_WEB', 'MN'))
mn.head(10)

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (20,23,24,26,64) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_Flag,PFIRM15_Flag,Version
0,MN,1,10,101,5.0,1011.0,2.0,1.0,10004.0,E007,...,Y,199 999,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
1,MN,1,101,101,1.0,1001.0,2.0,1.0,10004.0,E007,...,Y,199 999,10101.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
2,MN,1,201,101,1.0,1000.0,2.0,1.0,10004.0,E007,...,NaN,199 999,10101.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
3,MN,1,301,101,NaN,NaN,2.0,1.0,10004.0,E007,...,NaN,199 999,10101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
4,MN,1,401,101,NaN,NaN,2.0,1.0,10004.0,E007,...,NaN,1 99 999,10101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
5,MN,2,1,101,9.0,1025.0,2.0,1.0,10004.0,L015,...,NaN,101N100,10101.0,NaN,1.000020e+09,08/07/2012,1,1.0,1.0,18V1
6,MN,2,2,101,9.0,1025.0,2.0,1.0,10004.0,L015,...,NaN,11N 100,10101.0,NaN,1.000020e+09,08/07/2012,1,1.0,1.0,18V1
7,MN,2,3,101,9.0,NaN,2.0,1.0,10004.0,L015,...,NaN,101N100,10101.0,NaN,1.000020e+09,08/07/2012,1,1.0,1.0,18V1
8,MN,2,23,101,9.0,1025.0,2.0,1.0,10004.0,L015,...,NaN,101N100,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
9,MN,3,1,101,319.0,1000.0,2.0,1.0,10004.0,L015,...,NaN,101S087,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1

In [4]:
# show brooklyn 10 rows
bk = pd.read_csv('{}/{}/{}_18v1.csv'.format(os.getenv('PUIDATA'), 'PLUTO_for_WEB', 'BK'))
bk.head(10)

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (19,20,22,23,24,25,26,64,65,80) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLAG,PFIRM15_FLAG,Version
0,BK,1,1,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,3.000010e+09,11/26/2013,1,1.0,1.0,18V1
1,BK,1,50,302,21.0,2000.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,E-231,0.000000e+00,NaN,1,1.0,1.0,18V1
2,BK,1,7501,302,21.0,2000.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,3.000010e+09,03/04/2016,1,1.0,1.0,18V1
3,BK,3,1,302,21.0,3002.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
4,BK,3,5,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
5,BK,3,35,302,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,302 007,3.0,NaN,NaN,NaN,5,NaN,NaN,18V1
6,BK,5,1,302,21.0,3001.0,13.0,33.0,11201.0,L118,...,NaN,302 008,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
7,BK,5,8,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,300 000,30101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
8,BK,6,1,302,21.0,3000.0,13.0,33.0,11201.0,E207,...,NaN,302 009,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
9,BK,6,10,302,21.0,NaN,13.0,33.0,11201.0,E207,...,NaN,302 009,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1

In [5]:
# show columns
print(list(mn.columns))
print(list(bk.columns))

['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist', 'Council', 'ZipCode', 'FireComp', 'PolicePrct', 'HealthCenterDistrict', 'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address', 'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1', 'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone', 'BldgClass', 'LandUse', 'Easements', 'OwnerType', 'OwnerName', 'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea', 'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource', 'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront', 'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode', 'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand', 'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist', 'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode', 'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode', 'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID', 'FIRM07_Flag', 'PFIRM15_Flag', 'Version']
['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist', 'Council', 'ZipCode', 'FireComp', 'PolicePrct', 'HealthCenterDistrict', 'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address', 'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1', 'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone', 'BldgClass', 'LandUse', 'Easements', 'OwnerType', 'OwnerName', 'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea', 'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource', 'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront', 'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode', 'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand', 'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist', 'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode', 'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode', 'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID', 'FIRM07_FLAG', 'PFIRM15_FLAG', 'Version']

#### dropping all columns but ZipCode and LandUse
using df.drop()

inefficient, but explicit

In [6]:
mn_drop_cols = ['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist', 'Council', 'FireComp', 'PolicePrct',
                'HealthCenterDistrict', 'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address', 'ZoneDist1',
                'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1', 'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 
                'LtdHeight', 'SplitZone', 'BldgClass','Easements', 'OwnerType', 'OwnerName', 'LotArea', 
                'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea', 'GarageArea', 'StrgeArea', 'FactryArea', 
                'OtherArea', 'AreaSource', 'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront', 'LotDepth', 
                'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode', 'LotType', 'BsmtCode', 'AssessLand', 
                'AssessTot', 'ExemptLand', 'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist', 'Landmark',
                'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode', 'BBL', 'CondoNo', 'Tract2010', 'XCoord', 
                'YCoord', 'ZoneMap', 'ZMCode', 'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID', 
                'FIRM07_Flag', 'PFIRM15_Flag', 'Version']
mn.drop(mn_drop_cols, axis = 1, inplace = True)
mn.head()

   ZipCode  LandUse
0  10004.0      8.0
1  10004.0      8.0
2  10004.0      NaN
3  10004.0      7.0
4  10004.0      7.0

In [7]:
bk_drop_cols = ['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist', 'Council', 'FireComp', 'PolicePrct',
                'HealthCenterDistrict', 'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address', 'ZoneDist1',
                'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1', 'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 
                'LtdHeight', 'SplitZone', 'BldgClass','Easements', 'OwnerType', 'OwnerName', 'LotArea', 
                'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea', 'GarageArea', 'StrgeArea', 'FactryArea', 
                'OtherArea', 'AreaSource', 'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront', 'LotDepth', 
                'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode', 'LotType', 'BsmtCode', 'AssessLand', 
                'AssessTot', 'ExemptLand', 'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist', 'Landmark',
                'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode', 'BBL', 'CondoNo', 'Tract2010', 'XCoord', 
                'YCoord', 'ZoneMap', 'ZMCode', 'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID', 
                'FIRM07_FLAG', 'PFIRM15_FLAG','Version']
bk.drop(bk_drop_cols, axis = 1, inplace = True)
bk.head()

   ZipCode  LandUse
0  11201.0     11.0
1  11201.0      5.0
2  11201.0      4.0
3  11201.0      7.0
4  11201.0      7.0

#### using .groupby() to count  buildings per LandUse code

In [8]:
# manhattan
mngrouped = mn.groupby(['LandUse']).size().reset_index(name = 'counts')
mngrouped

    LandUse  counts
0       1.0    4019
1       2.0   16246
2       3.0    4881
3       4.0    7238
4       5.0    4465
5       6.0     726
6       7.0     418
7       8.0    2456
8       9.0     445
9      10.0     682
10     11.0    1257

In [9]:
# brooklyn
bkgrouped = bk.groupby(['LandUse']).size().reset_index(name = 'counts')
bkgrouped

    LandUse  counts
0       1.0  156342
1       2.0   66358
2       3.0    3437
3       4.0   22515
4       5.0    5743
5       6.0    4436
6       7.0    1096
7       8.0    4330
8       9.0     918
9      10.0    4253
10     11.0    6516

#### converting the landuse to integer using .astype()

In [10]:
mngrouped['LandUse'] = mngrouped['LandUse'].astype(int)
bkgrouped['LandUse'] = bkgrouped['LandUse'].astype(int)
mngrouped.head()

   LandUse  counts
0        1    4019
1        2   16246
2        3    4881
3        4    7238
4        5    4465

#### merging the dataframes on land use

In [11]:
both = mngrouped.merge(bkgrouped, on = 'LandUse', suffixes = ('_m', '_b'))
both.head()

   LandUse  counts_m  counts_b
0        1      4019    156342
1        2     16246     66358
2        3      4881      3437
3        4      7238     22515
4        5      4465      5743

#### renaming the columns with descriptive names

In [12]:
both.rename(columns = {'counts_m':'mn', 'counts_b':'bk'}, inplace = True)
both

    LandUse     mn      bk
0         1   4019  156342
1         2  16246   66358
2         3   4881    3437
3         4   7238   22515
4         5   4465    5743
5         6    726    4436
6         7    418    1096
7         8   2456    4330
8         9    445     918
9        10    682    4253
10       11   1257    6516

#### replacing landuse category labels with verbose description

In [13]:
verbose = {1:'One & Two Family Buildings', 2:'Multi-Family Walk-Up Buildings', 3:'Multi-Family Elevator Buildings',
            4:'Mixed Residential & Commercial Buildings', 5:'Commercial & Office Buildings', 6:'Industrial & Manufacturing',
            7:'Transportation & Utility', 8:'Public Facilities & Institutions', 9:'Open Space & Outdoor Recreation',
            10:'Parking Facilities', 11:'Vacant Land'}

both.loc[both['LandUse'].isin(verbose.keys()), 'LandUse'] = both['LandUse'].map(verbose)
both

                                     LandUse     mn      bk
0                 One & Two Family Buildings   4019  156342
1             Multi-Family Walk-Up Buildings  16246   66358
2            Multi-Family Elevator Buildings   4881    3437
3   Mixed Residential & Commercial Buildings   7238   22515
4              Commercial & Office Buildings   4465    5743
5                 Industrial & Manufacturing    726    4436
6                   Transportation & Utility    418    1096
7           Public Facilities & Institutions   2456    4330
8            Open Space & Outdoor Recreation    445     918
9                         Parking Facilities    682    4253
10                               Vacant Land   1257    6516

#### manhattan/brooklyn building category ratio

In [14]:
both['ratio'] = (both.mn/both.bk)
both

                                     LandUse     mn      bk     ratio
0                 One & Two Family Buildings   4019  156342  0.025706
1             Multi-Family Walk-Up Buildings  16246   66358  0.244824
2            Multi-Family Elevator Buildings   4881    3437  1.420134
3   Mixed Residential & Commercial Buildings   7238   22515  0.321475
4              Commercial & Office Buildings   4465    5743  0.777468
5                 Industrial & Manufacturing    726    4436  0.163661
6                   Transportation & Utility    418    1096  0.381387
7           Public Facilities & Institutions   2456    4330  0.567206
8            Open Space & Outdoor Recreation    445     918  0.484749
9                         Parking Facilities    682    4253  0.160357
10                               Vacant Land   1257    6516  0.192910

In [15]:
def mn_greater(ratio):
    if ratio > 1.0:
        return True
    else:
        return False

both['mn_greater'] = both['ratio'].apply(mn_greater)
both

,LandUse,mn,bk,ratio,mn_greater
0,One & Two Family Buildings,4019,156342,0.025706,False
1,Multi-Family Walk-Up Buildings,16246,66358,0.244824,False
2,Multi-Family Elevator Buildings,4881,3437,1.420134,True
3,Mixed Residential & Commercial Buildings,7238,22515,0.321475,False
4,Commercial & Office Buildings,4465,5743,0.777468,False
5,Industrial & Manufacturing,726,4436,0.163661,False
6,Transportation & Utility,418,1096,0.381387,False
7,Public Facilities & Institutions,2456,4330,0.567206,False
8,Open Space & Outdoor Recreation,445,918,0.484749,False
9,Parking Facilities,682,4253,0.160357,False
10,Vacant Land,1257,6516,0.192910,False

#### findings
Manhattan has a greater number of buildings in only a single category: multi-family buildings with an elevator. Whereas Manhattan has a lot of residential units in skyscrapers, necessitating elevators to access them, Brooklyn's multi-family residences tend not to have so many stories.